<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2015 ROCK GROUP <br>
    <p><h2 align="center">Made <b>&hearts;</b> by <a href="https://www.facebook.com/profile.php?id=100000166235761">Avon </a></h2></p>
</footer>